/* Custom CSS Variables */
:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --font-body: 'Epilogue', sans-serif;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: var(--font-body);
    color: var(--medium-gray);
    background-color: var(--almost-white);
    font-size: 18px;
}

/* Links */
a {
    color: var(--almost-black);
    text-decoration: none;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--almost-black);
}

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 10; /* Ensure it sits below the menu but above the main content */
    display: none; /* Initially hidden */
}

/* Mobile Menu */
#navbarMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: var(--almost-white);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 20; /* Ensure the menu is above the overlay */
}

/* Close Button Styling */
.close-btn {
    align-self: flex-end;
    font-size: 3.5rem;
    color: var(--almost-black);
    background: none;
    border: none;
    cursor: pointer;
    /* margin-bottom: 1rem; */
    

}

/* Hamburger Icon Styling */
.navbar-toggler {
    font-size: 3.5rem; /* Increase size as needed */
    padding: 0;
}

/* Header styling for alignment */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Center the hamburger icon */
.navbar-toggler {
    font-size: 2.5rem; /* Adjust the size as needed */
    padding: 0;
}


/* Register Button */
.register-btn {
    border-radius: 10px;
}

/* Hover Effect for Register */
.register-btn:hover {
    background-color: var(--almost-white);
    border-color: var(--medium-gray);
}


